*{
	margin:0px;
	padding:0px;
}
#bg{
	margin:0 auto;
	width:1000px;
	height:500px;
		background:#000000;
	position:relative;
}
#bg_ul>ul li{
	background:#FFFFFF;
}
#bg_ul>ul{
	width:500px;
	display:flex;
	justify-content: space-around;
	list-style: none;
	
}
#bg_ul>ul a{
	position:absolute;
	top:30px;
	text-decoration: none;
	color:#f10180;
	border:1px solid #000000;
	font-size: 14px;
}